<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>citylist</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<%- include menu.ejs %>
<div class="container">
<a href="/admin/city/addcity" class="btn btn-success btn-lg btn-block"  style="margin-top: 15px;">ADD NEW CITY</a>
<br>
<table class="table table-striped">
	<tr style="background-color: silver;">
		<th>CITYID</th>
		<th>CITYNAME</th>
		<th>STATEID</th>
		<th>STATENAME</th>
		<th>CREATIONDATE</th>
		<th>UPDATIONDATE</th>
		<th>Edit</th>
		<th>Delete</th>
		<% for(var i=0; i < data.length; i++) {%>
	<tr>
		<td><%= data[i].CITYID %></td>
		<td><%= data[i].CITYNAME %></td>
		<td><%= data[i].STATEID %></td>
		<td><%= data[i].STATENAME %></td>
		<td><%= data[i].CREATIONDATE %></td>
		<td><%= data[i].UPDATIONDATE %></td>
		<td><a href="/admin/city/updatecity?cityid=<%= data[i].CITYID %>" data-toggle="tooltip" title="edit" id="edit"><span class="glyphicon glyphicon-edit">Edit</span></a></td>
		<td><a href="/admin/city/delete?deleteid=<%= data[i].CITYID %>" data-toggle="tooltip" title="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
	</tr>
	<% } %>
</table>
</div>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>