<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>website</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://use.fontawesome.com/5ee69e6b7c.js"></script>
	<style>
		
	</style>
</head>
<body>
	<!-- NAVIGATON -->
<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation"><!-- start header section -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavs">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="/" class="navbar-brand">FreeAds</a>
		</div>
		<div class="navbar-collapse collapse" id="mynavs">
			<ul class="nav navbar-nav navbar-right">
				<li><a style="height: 50px;" href="">
					<div class="input-group" style=" width: 320px; margin-top: -6px;">
                  <input type="text" class="form-control" placeholder="Electronics & Mechanical, Foods & Services, Computer..." id="query" name="query" value="">
                   <div class="input-group-btn">
                  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
        			</div>
				   </a>
				</li>
				<li><a>
					<span style="color:crimson;" class="glyphicon glyphicon-envelope"></span> FreeAds@gmail.com</a>
				</li>
				<li>
				    <a href="/addnewads"><span class="blink"> add new ads </span></a>
				</li>
				<li><a href="/userlogin">Login</a></li>
			</ul>
		</div>	
	</div>
</div><!-- end of header section -->

<!-- middle section -->

<div class="header">
	<div class="container-fluid" id="middle">
		<div class="row">
			<div id="slide1" class="col-lg-2 col-sm-2">
					<ul class="nav nav-stacked" id="stacked">
						<% for(var i=0; i< categorydata[0].length; i++) {%>
						<li><a href=""><%= categorydata[0][i].CATEGORYNAME%></a></li>
					<div class="dropdown-content">
				 		<% 
						var categoryid  = categorydata[0][i].CATEGORYID;
						if (categorydata[categoryid]) {
						var newArr = categorydata[categoryid];
						for(var j=0; j< newArr.length; j++) {

						%>
			   		<a href=""><%= newArr[j].CATEGORYNAME%></a>,

						<% } 
						}
						%>	
					</div>
					<% } %>
					</ul>
					
			</div>
			<div id="main" class="col-lg-8 col-sm-8">
				<table class="table">
					<% for(var i = 0; i < listAds.length; i++){%>
					<tr>
						<td>
							<div class="row" id="main1">
								<div class="col-lg-3 col-sm-3 col-xs-3 ImgData" id="ImgData">
									<img  src="/assets/<%=listAds[i].ADID%>.<%= listAds[i].EXT%>" alt="" class="img-thumbnail">
								</div>
								<div class="col-lg-9 col-sm-9 col-xs-9" id="ListData">
									<p><%= listAds[i].TITLE%></p>
									<p><%= listAds[i].DISCRIPTION%></p>
									<p id="website"><%= listAds[i].WEBSITE%></p>
									<a href="/adsdetail?adsid=<%= listAds[i].ADID%>" class="btn btn-default btn-xs" type="button">View Details</a>
							</div>
							</div>
						</td>
					</tr>
					<% } %>
				</table>
				
			</div>
			<div id="slide2" class="col-lg-2 col-sm-2"></div>
		</div>
	</div>
</div>
<!-- end of middle section -->

<div id="myFooter" class="navbar navbar-default navbar-fixed-bottom" role="navigation"><!-- start footer section -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myfooternavs">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>
		<div class="navbar-collapse collapse" id="myfooternavs">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="/contactus">Contact Us</a></li>
				<div class="social">
					<a id="follow">Follow us on:</a>
					<a href="https://www.facebook.com/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" style="font-size: 20px; color: #3B5998; "></i></a>
					<a href="https://twitter.com/" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" style="font-size: 20px; color: #0084b4;"></i></a>
					<a href="https://www.youtube.com/" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube-play" style="font-size: 20px; color: #cc181e;"></i></a>
					<a href="https://plus.google.com/discover" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus" style="font-size: 20px; color: #db4437;"></i></a>
					</div>    
			</ul>

		</div>	
	</div>
	<div class="footer-copyright text-center">
        <div class="container-fluid">
            © 2017 Copyright: <a id="Copyright" href="http://localhost:3000/"> FreeAds.com </a>
        </div>
    </div>
</div><!-- end of footer section -->

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>